# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
